<h1>Create a Tile!</h1>
  <%= form_tag "/search_song", class: "form" do %>
    <%= label_tag :query, "Search a sound:" %>
    <%= text_field_tag :query %>
    <%= submit_tag "Continue", class: "search_button" %>
  <% end %>
