<h1>Create a Tile!</h1>

<h2>Search your Sound</h2>

  <%= form_tag "/tile_search_song" do %>
    <%= label_tag :query, "Search a sound:" %>
    <%= text_field_tag :query %>
    <%= submit_tag "Continue" %>
  <% end %>


