/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0px;
  padding: 0px;
  background-color: #CC5500;
  font-family: 'Jura', sans-serif;
  color: #404C49;
}

h1, h2, h3, h4, h5, h6, p, .form {
  padding: 0 0 0 10px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #5A7E91;
  transition: 0.3s;
}

a:hover {
  color: #B7E6FF;
  tranisition: 0.3s;
}

a.sign_up {
  color: #FFFFEE;
  font-size: .75em;
}

h1 a.sign_up:hover {
  color: #B7E6FF;
  font-size: .75em;
}

.nav_bar {
  background-color: #302311;
  box-shadow: 0px 1px 50px #5E5E5E;
  font-size: 1.7em;
  text-align: center;
  width: 100%;
  height: 28px;
  top: 0px;
  padding: 5px;
  position: fixed;
  z-index: 1;
}

.spacer {
  height: 60px;
}

.new_user {
  margin: 0 auto;
  position: relative;
  width: 140px;
}

.form {
  margin: 0 auto;
  position: relative;
  width: 140px;
}

.tile_message {
  width: 300px;
  height: 300px;
  background-color: #DDD;
  border-style:none;
  writing-mode: rl-tb;
  font-size: 2.75em;
  padding: 10px;
  resize: none;
  border-radius: 15px;
  outline: none;
  margin: 0 auto;
  word-wrap: break-word;
  position: relative;
}

.song {
  color: #E4F2FF;
  background-color: #112630;
  text-align: center;
  margin: 0 auto;
  height: 70px;
  width: 50%;
  border-radius: 10px;
  min-width: 360px;
  position: relative;
  display: none;
}

.song p {
  font-family: lucida grande;
  font-size: .8em;
  padding: 3px 0;
}


.tile_message:hover + .song.song_feed{
  display: inline;
}

.tile_message:hover .play-button {
  opacity: 0.5;
  transition: 0.75s;
}

audio {
  width: 95%;
  position: absolute;
  left: 9px;
  bottom: 3px;
}

.play-button {
  width: 150px;
  height: 150px;
  border: 10px solid navy;
  position:  absolute;
  left: 75px;
  top: 75px;
  border-radius: 100px;
  opacity: 0;
  transition: 0.75s;
  cursor: pointer;
}


.triangle {
  width: 0px;
  height: 0px;
  margin-left: 50%;
  margin-top: 50%;
  left: -27px;
  top: -50px;
  position: relative;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 80px solid navy;
  z-index: 2;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

#tile_message_write {
  width: 300px;
  height: 300px;
  background-color: #DDD;
  border-style:none;
  writing-mode: rl-tb;
  font-size: 2.75em;
  padding: 10px;
  resize: none;
  border-radius: 15px;
  outline: none;
  margin: 0 auto;
  word-wrap: normal;
  position: relative;
}

#song_search {
  width: 80%;
  min-width: 300px;
}

.search_button, .select_button{
  border-radius: 5px;
  border: none;
  margin: 10px;
  background-color: #199933;
  color: #404C49;
  box-shadow: 3px 3px 8px #0E571D;
}

.search_button:hover, .select_button:hover{
  color: #B7E6FF;
}
